#kafka
KAFKA_FROM_BEGINING= true
KAFKA_AUTO_COMMIT= true
KAFKA_MAX_OFFER_TOPIC= 'max-offer-v2'
KAFKA_OFFER_MAX_VALUE_GROUP= 'max-offer-consume-group'

#swagger
DOMAIN_URL = ''
IS_SWAGGER_ENABLED = true
SEARCH_SERVICE_UPDATE_PAYLOAD_URL = ''
GRAVITEE_URL = 'https://dev-gravitee.mimojo.io/gateway'
OFFER_URL = 'http://localhost:8000'
